**Standardization**

- Standardization means scaling the data into one scale
- We have different columns has different units so that the values will vary
- Another column has very huge values
- So it is important to scale all type of units under one scale
- We have 2 procedure:
    - Standardization:
        - Z-Score
        - The values range from -3 to 3
        - ![z_score.svg](attachment:z_score.svg)

<svg xlink="http://www.w3.org/1999/xlink" width="161px" height="69px" viewBox="0 -2284.5 8371.5 3583.3" role="img" focusable="false" style="vertical-align: -3.017ex;" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"><g stroke="currentColor" fill="currentColor" stroke-width="0" transform="matrix(1 0 0 -1 0 0)"><path stroke-width="10" transform="scale(1.73)" d="M58 8Q58 23 64 35Q64 36 329 334T596 635L586 637Q575 637 512 637H500H476Q442 637 420 635T365 624T311 598T266 548T228 469Q227 466 226 463T224 458T223 453T222 450L221 448Q218 443 202 443Q185 443 182 453L214 561Q228 606 241 651Q249 679 253 681Q256 683 487 683H718Q723 678 723 675Q723 673 717 649Q189 54 188 52L185 49H274Q369 50 377 51Q452 60 500 100T579 247Q587 272 590 277T603 282H607Q628 282 628 271Q547 5 541 2Q538 0 300 0H124Q58 0 58 8Z"></path><g transform="translate(1739,0)"><path stroke-width="10" transform="scale(1.73)" d="M56 347Q56 360 70 367H707Q722 359 722 347Q722 336 708 328L390 327H72Q56 332 56 347ZM56 153Q56 168 72 173H708Q722 163 722 153Q722 140 707 133H70Q56 140 56 153Z"></path></g><g transform="translate(3094,0)"><g transform="translate(688,0)"><rect stroke="none" width="4381" height="103" x="0" y="380"></rect><g transform="translate(103,1170)"><path stroke-width="10" transform="scale(1.73)" d="M52 289Q59 331 106 386T222 442Q257 442 286 424T329 379Q371 442 430 442Q467 442 494 420T522 361Q522 332 508 314T481 292T458 288Q439 288 427 299T415 328Q415 374 465 391Q454 404 425 404Q412 404 406 402Q368 386 350 336Q290 115 290 78Q290 50 306 38T341 26Q378 26 414 59T463 140Q466 150 469 151T485 153H489Q504 153 504 145Q504 144 502 134Q486 77 440 33T333 -11Q263 -11 227 52Q186 -10 133 -10H127Q78 -10 57 16T35 71Q35 103 54 123T99 143Q142 143 142 101Q142 81 130 66T107 46T94 41L91 40Q91 39 97 36T113 29T132 26Q168 26 194 71Q203 87 217 139T245 247T261 313Q266 340 266 352Q266 380 251 392T217 404Q177 404 142 372T93 290Q91 281 88 280T72 278H58Q52 284 52 289Z"></path><g transform="translate(1382,0)"><path stroke-width="10" transform="scale(1.73)" d="M84 237T84 250T98 270H679Q694 262 694 250T679 230H98Q84 237 84 250Z"></path></g><g transform="translate(3121,0)"><path stroke-width="10" transform="scale(1.73)" d="M58 -216Q44 -216 34 -208T23 -186Q23 -176 96 116T173 414Q186 442 219 442Q231 441 239 435T249 423T251 413Q251 401 220 279T187 142Q185 131 185 107V99Q185 26 252 26Q261 26 270 27T287 31T302 38T315 45T327 55T338 65T348 77T356 88T365 100L372 110L408 253Q444 395 448 404Q461 431 491 431Q504 431 512 424T523 412T525 402L449 84Q448 79 448 68Q448 43 455 35T476 26Q485 27 496 35Q517 55 537 131Q543 151 547 152Q549 153 557 153H561Q580 153 580 144Q580 138 575 117T555 63T523 13Q510 0 491 -8Q483 -10 467 -10Q446 -10 429 -4T402 11T385 29T376 44T374 51L368 45Q362 39 350 30T324 12T288 -4T246 -11Q199 -11 153 12L129 -85Q108 -167 104 -180T92 -202Q76 -216 58 -216Z"></path></g></g><g transform="translate(1691,-1187)"><path stroke-width="10" transform="scale(1.73)" d="M184 -11Q116 -11 74 34T31 147Q31 247 104 333T274 430Q275 431 414 431H552Q553 430 555 429T559 427T562 425T565 422T567 420T569 416T570 412T571 407T572 401Q572 357 507 357Q500 357 490 357T476 358H416L421 348Q439 310 439 263Q439 153 359 71T184 -11ZM361 278Q361 358 276 358Q152 358 115 184Q114 180 114 178Q106 141 106 117Q106 67 131 47T188 26Q242 26 287 73Q316 103 334 153T356 233T361 278Z"></path></g></g></g></g></svg>

**Normalization**

In [ ]:
# Take the prevailing wage column
# Z-score = x-mean/sigma
# Step-2: Calculate mean of the prevailing wage
# Step-3: Calculate std of prevailing wage
# Step-4: Numerater: pwage - mean
# Step-5: pwage_zscore = numerator/denominator

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
path = r'C:\Users\DELL\DS COURSE NARESH IT\python files\Visadataset - Visadataset.csv'
visa_df = pd.read_csv(path)
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [10]:
# pwage 
pwage = visa_df['prevailing_wage']
pwage

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

In [6]:
# Mean of prevailing wage
prev_mean = visa_df['prevailing_wage'].mean()
prev_mean

74455.81459209183

In [8]:
# Std of the prevailing wage
prev_std = visa_df['prevailing_wage'].std()
prev_std

52815.94232687357

In [11]:
numerator = pwage - prev_mean
numerator

0        -73863.611692
1          8969.835408
2         48541.045408
3          8978.215408
4         75451.575408
             ...
25475      2636.755408
25476    204718.975408
25477     71843.035408
25478     11698.955408
25479     -3578.904592
Name: prevailing_wage, Length: 25480, dtype: float64

In [12]:
visa_df['prevailing_wage_z'] = numerator/prev_std

In [14]:
visa_df[['prevailing_wage','prevailing_wage_z']]

       prevailing_wage  prevailing_wage_z
0             592.2029          -1.398510
1           83425.6500           0.169832
2          122996.8600           0.919060
3           83434.0300           0.169991
4          149907.3900           1.428576
...                ...                ...
25475       77092.5700           0.049923
25476      279174.7900           3.876083
25477      146298.8500           1.360253
25478       86154.7700           0.221504
25479       70876.9100          -0.067762

[25480 rows x 2 columns]

In [17]:
visa_df['prevailing_wage'].max(),visa_df['prevailing_wage_z'].max()
# 99.7% data btw -3 to 3

(319210.27, 4.634101837909902)

In [18]:
visa_df['prevailing_wage'].idxmax()      # This in prevailing_wage column the maximum value id 21077

21077

In [19]:
visa_df['prevailing_wage_z'].idxmax()    # The id should match the data

21077

In [20]:
visa_df['prevailing_wage'].min(),visa_df['prevailing_wage_z'].min()

(2.1367, -1.4096818992891214)

In [21]:
visa_df['prevailing_wage'].idxmin(),visa_df['prevailing_wage_z'].idxmin()

(20575, 20575)

In [22]:
visa_df.iloc[[21077,20575]]  # With all the columns

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status,prevailing_wage_z
21077,EZYV21078,Asia,High School,N,N,442,2006,Midwest,319210.2700,Year,Y,Denied,4.634102
20575,EZYV20576,North America,Master's,N,N,1552,2004,Northeast,2.1367,Hour,Y,Certified,-1.409682

In [23]:
cols = ['prevailing_wage','prevailing_wage_z']    # With specific columns
ids = [21077,20575] 
visa_df[cols].iloc[ids]

       prevailing_wage  prevailing_wage_z
21077      319210.2700           4.634102
20575           2.1367          -1.409682

In [ ]:
# Generally we overwrite the column values 
# because we want to clean our data before we apply ML model
# If you create any extra columns make sure drop some of non-required columns

$StandardScaler$
- Read the package
- Save the function
- Apply fit_transform

In [27]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
visa_df['prevailing_wage_ss']=ss.fit_transform(visa_df[['prevailing_wage']])

In [28]:
cols = ['prevailing_wage','prevailing_wage_z','prevailing_wage_ss']
visa_df[cols]

       prevailing_wage  prevailing_wage_z  prevailing_wage_ss
0             592.2029          -1.398510           -1.398537
1           83425.6500           0.169832            0.169835
2          122996.8600           0.919060            0.919079
3           83434.0300           0.169991            0.169994
4          149907.3900           1.428576            1.428604
...                ...                ...                 ...
25475       77092.5700           0.049923            0.049924
25476      279174.7900           3.876083            3.876159
25477      146298.8500           1.360253            1.360280
25478       86154.7700           0.221504            0.221509
25479       70876.9100          -0.067762           -0.067763

[25480 rows x 3 columns]

**Normalization**

In [29]:
path = r'C:\Users\DELL\DS COURSE NARESH IT\python files\Visadataset - Visadataset.csv'
visa_df = pd.read_csv(path)
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

$minmaxscalar$

##### Without package

In [32]:
# Step-1: Read the specific column and save it 
x = visa_df['prevailing_wage']
# Step-2:
x_min = visa_df['prevailing_wage'].min()
# Step-3:
x_max = visa_df['prevailing_wage'].max()
# Step-4:
num = x - x_min
# Step-5:
deno = (x_max - x_min)
# Step-6:
visa_df['min_max_pre'] = num/deno
# Step-7:
visa_df['min_max_pre'].min(),visa_df['min_max_pre'].max()

(0.0, 1.0)

###### With package

In [35]:
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler()
visa_df['prevailing_wage_norm'] = mms.fit_transform(visa_df[['prevailing_wage']])

In [36]:
visa_df['prevailing_wage_norm']

0        0.001849
1        0.261345
2        0.385312
3        0.261371
4        0.469616
           ...
25475    0.241505
25476    0.874579
25477    0.458311
25478    0.269895
25479    0.222033
Name: prevailing_wage_norm, Length: 25480, dtype: float64

In [40]:
visa_df['prevailing_wage'].idxmax(),visa_df['prevailing_wage_norm'].idxmax(),visa_df['min_max_pre'].idxmax()

(21077, 21077, 21077)